# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Otros IDEs
.vscode/
.classpath
.project
.settings/
.factorypath

# SO
.DS_Store
Thumbs.db

# Credenciales locales
.env
*.env
application-local.properties
application-local.yml
